# .env.example

# Set environment variables for your Flask application

# Environment mode (development, production)
FLASK_ENV=development

# Secret key for the Flask application
SECRET_KEY=your_secret_key_here

# Admin credentials
ADMIN_USERNAME=your_admin_username_here
ADMIN_PASSWORD=your_admin_password_here

# Additional configurations
# DATABASE_URL=your_database_url_here
# DEBUG=True
